{% extends 'base.html'%}
{% block content%}
<section >
    <div class="containerone">
        <img src="static\images\doctors.png" alt="sign-up" class="imgone">
        <div class="subdivone">
            <h5 class="h5one">HELLO</h5>
            <P regtext>Register to get started</P>
            <form action="" method="post" class="inputform">
                <p>
                    <b>{{ form.first_name.label }}</b><br>
                    {{ form.first_name(size =32) }}
                </p>
                <p>
                    <b>{{ form.last_name.label }}</b><br>
                    {{ form.last_name(size=32) }}
                </p>
                <p>
                    <b>{{ form.email.label }}</b><br>
                    {{ form.email(size=32) }}
             </p>
              <p>
                    <b>{{ form.password.label }}</b><br>
                    {{ form.password(size=32) }}
                </p>
                <br>
                <p class=" containerbutton">{{ form.submit() }}</p>
            </form>
            <p class="regtext">Already signed up <a href="{{ url_for('ehealth.login') }}">Login</a></p>
        </div>        
    </div>      
</section>
{% endblock %}